*{  
    margin:0;
    padding:0;
}
body{
    background: linear-gradient(68.4deg, rgb(248, 182, 204) 0.5%, rgb(192, 198, 230) 49%, rgb(225, 246, 240) 99.8%);
    background-size: cover;
    margin:0;
    padding:0;
}
::-webkit-scrollbar {
    display: none;
}

#logo{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin-bottom: 20px;  
}
.logoinicio img{
    animation:logo 2s cubic-bezier(.5,.5,0,1);;
    transform-origin: 50% 50%;
             		
}
@keyframes logo{
    100%{
        transform: scale(1.1);
    }

}
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
.containerinicio{
    position: relative;
	z-index: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.pulse {
	z-index: -1;
	position: absolute;
	max-width: 20rem;
    margin-bottom: 20px; }
.pulse circle{
    fill:#a8f0cd;
		transform: scale(0);
		opacity: 0;
		transform-origin: 50% 50%;
        
		animation: pulse 2s cubic-bezier(.5,.5,0,1);}


@keyframes pulse {
	
	0% {
		opacity: 2;
	}
	
	100% {
		transform: scale(1);
	}
	
}
.gridPadre{
    display:grid;
    grid-template-areas: 
    "nav nav nav"
    "section section section"
    "footer footer footer";
}
nav{
    background-color: #403d39;
    grid-area:nav; 
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 50px;    
    align-items: center;
    padding-right: 10px;
}
nav a:hover{
    animation:nav 3s;
    font-size: 1.05rem;
    color:whitesmoke;
}

nav ul li{
    list-style-type: none;
    font-style: normal;
    font-family: 'Quicksand', sans-serif;
    display:inline;
}

a.current:link, a.current:visited {
    text-decoration: underline;
    color:whitesmoke;
}

ul li a{
    color:whitesmoke;
    margin-left: 10px;
}
a{
    outline: none;
    text-decoration: none;
}
 section {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    min-height: 31rem;
    
    grid-area:section;
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    
}
.container{
    max-width:100%;
    margin:0%;
    padding:0%;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));}

    .col-2 {
    flex: 0 0 auto;
    width: 50%;
}
.py-4 {
    padding-top: 1.5rem!important;
    padding-bottom: 0!important;}
.py-5 {
         padding-top: 1.5rem!important; 
        padding-bottom: 1.5rem!important;
    }
.my-4 {
        margin-top: 1rem!important;
        margin-bottom: 0!important;
    text-align: center ;}
.p-1{
        padding-top:0!important;
    }
.btni{
    font-size: 2rem!important;
    padding: 0px 5px!important;
    color: whitesmoke;
}

footer #instagram:hover{
    color: mediumvioletred;
    background-size: 1.7rem;
    display: inline-flex;
    font-size:1.7rem;
}

footer #facebook:hover{
    color: darkblue;
    font-size:1.7rem;
    display: inline-flex;
    
}
ol,ul,dl {
    margin-bottom: 0!important;
}
/*CSS Productos*/
#buscadorproductos{
    position: relative;
    text-align: right;
    margin-right: 10px;
    display: grid;
    grid-area: buscador;
    padding-top:6px;
}
.buscarp{ text-align: right;

}
.card-body{
    padding: 0.5rem 0.5rem!important;
}
.buscar{
    border-radius: 5px;
    border-width: 0.5px;
    font-family:'Quicksand', sans-serif;
    align-items: right;
}

.title {
    font-family:'Quicksand', sans-serif;
    font-weight: 600;
    text-align: left;
    margin-left: 40px;
    display: flex;
    align-items: left;
}

#gridProductos{
    display:grid;
    grid-template-columns: repeat(3,20rem);
    grid-template-rows: 25rem 25rem;
    gap: 10px;
    margin-bottom: auto; 
    margin-top: 30px; 
    grid-template-areas: 
    "uno dos tres"
    "cuatro cinco seis"
    ;

}
@media only screen and (max-width: 710px){
    #gridProductos {
        grid-template-columns: 10fr 10fr;
        grid-template-rows: auto;
        margin-bottom: 10%;
        grid-template-areas:
        "uno uno"
        "dos dos"
        "tres tres"
        "cuatro cuatro"
        "cinco cinco"
        "seis seis"
    
        }
    }  
    
#uno{
    display: grid;
    grid-area: uno;
    justify-items: center;
    
}
#dos{
    grid-area: dos;
    justify-items: center;
    display: grid;
}
#tres{
    grid-area: tres;
    justify-items: center;
    display: grid;
}
#cuatro{
    grid-area: cuatro;
    justify-items: center;
    display: grid;
}
#cinco{
    grid-area: cinco;
    justify-items: center;
    display: grid;
}
#seis{
    grid-area: seis;
    justify-items: center;
    display: grid;
}
#texto-encima{
    position:relative;
    font-style: normal;
    font-family: Hurricane;
    font-size: x-large;
    bottom:105%;  
}
  
/*CSS Quienes Somos*/
#quienesSomos{
    display:grid;
    grid-template-areas: "img1 img2";
    grid-template-columns: repeat(2,30rem);
    align-items: center;
    gap:20px;
   
}
#img1{
    display:grid;
    grid-area: img1;
    justify-items:center;
}
#img2{
    display:grid;
    grid-area: img2;
    justify-items:center;
}

.imagenqs{
    height:auto;
    width: 20rem;
    margin-top: 1rem;
    
}
@media only screen and (max-width: 710px){
    #quienesSomos{
        grid-template-columns: 5fr ;
        grid-template-rows: auto;
        margin-bottom: 10%;
        grid-template-areas:
        "img1"
        "img2"
        }
    }  

/*CSS Contacto*/
.gridContacto{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 180px 200px 200px;
    grid-template-areas: 
    "datos datos"
    "mapa ingresardatos"
    "footer footer"
    ;
}
footer{
    grid-area:footer;
    /* display:grid; */
}
@media only screen and (max-width: 850px){
    .gridContacto {
        grid-template-columns: 1fr;
        grid-template-rows: 0.01fr 1fr 1fr;
        grid-template-areas:
        "datos"
        "mapa"
        "ingresardatos";
        }
    }   
    @media only screen and (max-width: 576px){
        .gridContacto {
            grid-template-columns: 550px;
            grid-template-rows: 0.01fr 1fr 1fr;
            grid-template-areas:
            "datos"
            "mapa"
            "ingresardatos";
            }
            #datos{
                flex-direction: column;
                display:grid;
                grid-area:datos;
                margin-left: 10%;
                list-style: square;
                align-items: center;
            }
            #ingresardatos{
                display:grid;    
                text-align:left;
                grid-area:ingresardatos;
                display:block;
                margin-left:20%;
                 align-items: center;
            }
            #mapa{
                display:grid;
                grid-area:mapa;
                margin: 5% 10% 10px 10%;
                align-items: center;
            }
            .buscar{
                margin:5px;
                padding:5px;
                width: auto;
            }
            #mensaje{
                height: 142px;
                width: auto;
            }
        }   
#sectioncontacto{
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    min-height: 31rem;
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items:center;
}
#datos{
    flex-direction: column;
    display:grid;
    grid-area:datos;
    margin-left: px;
    list-style: square;
}

#datos li p{
    color:darkmagenta;
    text-align: left;
}
#ingresardatos{
    display:grid;    
    text-align:left;
    width: 500px;
    grid-area:ingresardatos;
    display:block;
    margin-left:20px;
     
}
#form{
    margin-top: 4%;
}

#mapa{
    display:grid;
    grid-area:mapa;
    margin: 5% 20px 10px 20px;
}
.buscar{
    margin:5px;
    padding:5px;
    width: 450px;
}
#mensaje{
    height: 142px;
    width: 450px;
}

/*CSS Preguntas frecuentes*/
#marginPreguntas{
    margin-top:5%;
}
#preguntas{
    margin: 2% 5% 2.5% 5%;
    text-align: left;
    list-style: square;
}
@media only screen and (max-width: 850px){
    h2{
        padding-top: 1rem;
    }
}